name: deployment
on:
  push:
    branches: ["main"]

jobs:
  build:
    # Runner name
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      # Sets up node
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm i
      - run: npm ci
      - run: npm i -g hexo
      - run: hexo deploy      
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.REPO_GITHUB_TOKEN }}
          force: true